body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

p {
  font-family: 'Cardo', serif;
  font-size: 28px;
  padding-top: 435px;
  text-align: center;
}

strong  {
  font-style: italic;
}
