body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("https://i.imgur.com/QcdQaMB.jpg");
  background-size: cover;
}


.content {
  padding: 16px;
  position: relative;
  margin-bottom: 20px;
  &::before {
    background-image: url("https://i.imgur.com/M1iHkVi.jpg");
    background-position: left -250px top -200px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .5;
  }
}

.form {
  margin: 15% auto 0;
  max-width: 25em;
}

h2, h3  {
  color: orange;
  font-family: 'Cardo', serif;
  font-size: 40px;
}

h5  {
  color: white;
  font-size: 20px;
}


h6  {
  color: orange;
}

.alert {
  animation: .5s ease-in-out 0s 1 light-bounce-in;
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
